<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070945266056-vq3k08v8o0lm627v79pjnr998ddddg5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070945266056-vq3k08v8o0lm627v79pjnr998ddddg5v</string>
	<key>API_KEY</key>
	<string>AIzaSyAnt6T-YH_J3baNAAu-w8ToNTevenb-4Lg</string>
	<key>GCM_SENDER_ID</key>
	<string>1070945266056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>studyapp-17b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>studyapp-17b6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070945266056:ios:fc9cd71017af626e48b23d</string>
</dict>
</plist>